.login_button {
    color: #3897f0 !important;
    font-weight: 600 !important;
    line-height: 28px !important;
    font-size: 16px !important;
}

html body .navbar-default .navbar-nav > li > a.download_box {
    background-color: #3897f0 !important;
    border-radius: 4px !important;
    color: #fff !important;
    height: 34px !important;
    margin-right: 15px !important;
    padding: 0 16px !important;
    font-size: 16px !important;
    margin-top: 22px !important;
}

html body .profile_content {
    padding-top: 30px;
}

html body .search_box span {
    display: inline-block;
}

html body .search_box .coreSpriteSearchIcon {
    background-image: url(../images/d21416.png);
    background-repeat: no-repeat;
    background-position: -189px -115px;
    height: 10px;
    margin-right: 6px;
    vertical-align: baseline;
    width: 10px;
    display: inline-block;
    position: relative;
    top: -1px;
    left: -1px;
}

html body .search_box .search_text {
    color: #999;
    font-weight: 300;
    cursor: text;
    position: relative;
    top: -1px;
    left: -1px;
}

html body .ext_url {
    text-decoration: none;
    color: #003569;
}

html body .navbar > .container .navbar-brand, html body .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}

html body .search_box {
    background: #fafafa;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    font-size: 14px;
    outline: none;
    padding: 3px 10px 3px 10px;
    z-index: 2;
    width: 215px;
    height: 28px;
    float: none;
    display: inline-block;
    margin-top: 26px;
    position: relative;
    left: 57px;
}

html body .no_padding_here {
    padding: 0 !important;
}

html body #app-navbar-collapse {
    text-align: center;
}

html .ob_button {
    background: #3897f0;
    color: #fff;
    border-color: #3897f0;
    -webkit-appearance: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 110px;
    text-align: center;
    height: 28px;
    margin-top: 6px;
    margin-left: 13px;
    float: left;
    text-decoration: none !important;
}
.profile_desc h2 span {
    float: left;
}
.profile_desc h2 {
    font-size: 32px;
}
@media screen and (max-width: 991px) {

    html body .profile_gall .insta_photo {
        padding-bottom: 3px;
        padding-right: 1.5px;
        padding-left: 1.5px;
    }

    html body .search_box {
        left: 0;
    }
}

@media screen and (max-width: 1200px) {
    html body .container {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    html .profile_desc {
        width:calc(100% - 96px);
    }
    html .container {
        padding-left: 0;
        padding-right: 0;
    }
    html .bottom_info span b {
        color: #262626;
    }
    html .bottom_info span {
        width: 33.3%;
        float: left;
        text-align: center;
        line-height: 20px;
        margin-top: 24px;
        border-top: 1px solid #dbdbdb;
        padding-top: 10px;
        color: #999;
    }
    html .bottom_link b {
        color:#000;
    }
    html .bottom_link {
        margin-top: 24px;
    }
    html body .profile_content {
        padding-top: 10px;
        margin-bottom: 13px;
    }
    html .profile_photo_box {
        padding-left: 0;
        width: 92px !important;
    }
    html .profile_pic {
        width: 77px;
    }
    html .profile_desc h2 a {
        width: 240px;
        margin-left: 0;
        margin-top: 10px;
        max-width: 100%;
    }
    html .profile_desc h2 span {
        width: 100%;
    }
    html .profile_desc h2 {
        margin-top: 0 !important;
        font-size: 22px;
        font-weight: 500;
    }
}