
// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;subset=latin-ext);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

//Owl


// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.fastEase {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 991px) {
  html body .prodcuts_wrap {
    width: calc(100% - 30px) !important;
  }
  .profile_gall .insta_photo {
    padding-bottom: 30px !important;
  }
}
@media screen and (max-width: 500px) {
  .profile_desc h2 {
    margin-top: 15px !important;
  }
  .profile_desc p span {
    margin: 0 !important;
    width: 100%;
  }
}
.no_padding {
  padding: 0;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


html body {
  * {
    font-family: $font-family-sans-serif;;
    border-color: rgba(0,0,0,.0975) !important;
  }
  background: #fafafa;
  .navbar-default {
    height: 77px;
    .navbar-nav > li > .dropdown-menu {
      margin-top: -1px;
      box-shadow: none;
      border-radius: 0 !important;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    .navbar-nav > li > a {
      background: transparent !important;
      height: 77px;
      padding-top: 0;
      padding-bottom: 0;
      @extend .flex;
      span.icon-user {
        font-size: 26px;
        color: #000;
        font-weight: 300;
      }
    }
    .navbar-brand {
      @extend .flex;
      float: left;
      padding: 0 !important;
      font-size: 18px;
      line-height: initial;
      height: 77px;
    }
  }
}
.products {

  background: #fff;
  width: 100% !important;
  overflow: hidden;

}
.products_left {
  left: 10px;
  border: 1px solid;
  top: 40%;
  z-index: 200;
}
.products_right {
  right: 10px;
  border: 1px solid;
  top: 40%;
  z-index: 200;
}


.prodcuts_wrap {
  background: #fff;
  width: calc(100% - 30px);
  padding: 30px 50px;
  position: absolute;
  left: 15px;
  margin-bottom: 0;
  display: none;
  height: 280px;
  z-index: 100 !important;
  .owl-nav {
    display: none;
  }
}
.profile_desc {
  h2 {
    margin-top: 0;
    float: left;
    width: 100%;
    font-weight: 200;
  }
  p {
    float: left;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    span {
      float: left;
      margin-right: 20px;
      margin-left: 20px;
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  .ext_url {
    font-size: 16px;
    &:hover {
      text-decoration: none;
    }
    margin-top: 10px;
    float: left;
    b {
      color: #262626;
    }
    color: #003569;
  }
}
.profile_content {
  padding-top: 60px;
  margin-bottom: 44px;
}
.profile_gall {
  .insta_photo {
    cursor: pointer;
    padding-bottom: 30px;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.insta_photo_wrap {
  position: relative;
  .hashtags_count {
    position: absolute;
    bottom: 18px;
    right: 28px;
    height: 30px;
    background: #f44336;
    color: #fff;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 15px;
    z-index: 101;
    @extend .flex;
    line-height: 0px;
  }
}
.owl-height {
  transition: inherit !important;
}
.product {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  float: left;
  text-align: center;
  .col-xs-12 {
    float: none;
    display: inline-block;
    text-align: left;
    &.text-center {
      text-align: center !important;
    }
  }
  .buy_now { 
    float: none;
    display: inline-block;
    background:#f44336;
    border:1px solid #f44336 !important;
    color:#fff;
    padding: 3px 10px;
    margin-top: 5px;
    border-radius: 20px;
    &:hover {
      color:#f44336;
      background: transparent;
      text-decoration: none;
    }
    i {
      margin-right: 3px;
    }
  }
  .product_name {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
    text-transform: capitalize;
  }
  p {
    font-size: 12px;
    line-height:14px;
    float: left;
    width: 100%;
  }
  .product_price {
    float: left;
    width: 100%;
  }
  hr {
    float: left;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}
.product_image {
  float: left;
  width: 180px;
  margin-right: 10px;
  img {
    width: 100%;
  }
}
.owl-dots {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 5px;
}
.owl-item {
  background: transparent !important;
}
.owl-carousel {
  display: block !important;
}
.owl-carousel .owl-dot {
  &.active {
    background: rgba(244, 67, 54, 0.68);
  }
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  background: rgba(51, 51, 51, 0.34);
  border-radius: 100%;
  float: none;
  display: inline-block;
}
.products_left,.products_right {
  position: absolute;
  width: 30px;
  height: 30px;
  @extend .flex;
  color:#333;
  font-size: 14px;
  cursor: pointer;
  border-radius: 100%;
}
.product_desc {
  float: right;
  width:calc(100% - 190px);
}